.glossary-link {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.125rem;
  color: var(--bs-body-color);
  text-decoration: none
}

.glossary-link:hover,.glossary-link:focus,.glossary-link.active {
  color: var(--bs-emphasis-color);
  background-color: var(--bd-sidebar-link-bg)
}