/*
*= require fonts.css
*= require bootstrap/css/bootstrap3.3.4.min.css
*= require angular-bootstrap-colorpicker-3.0.11/css/colorpicker.min.css
*= require font-awesome-4.3.0/css/font-awesome.min.css
*= require angular-loading-bar/loading-bar-0.7.1.min.css
*= require ala-keyplayer/keybase.player.css
*= require keybase-override.css
*= require dualMultiselect/dualmultiselect.css
*= require nsl.css
*= require mergedProfilesThemeColour.scss
*= require tree.css
*= require sidebar.css
*= require bootstrap-fileupload/bootstrap-fileupload.min.css
*= require ala-admin-asset.css
*= require animation.css
*= require ckeditor5/css/ckeditor5.css
*= require ckeditor5/css/ckeditor5-content.css
*= require ckeditor5/css/ckeditor5-editor.css
*= require mapAndImages
*= require_self
*/

a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.single-line .ck-content.ck-editor__editable {
    height: 50px;
}

.three-line .ck-content.ck-editor__editable {
    height: 97px;
}

.four-line .ck-content.ck-editor__editable {
    min-height: 130px;
    max-height: 400px;
}