<div class="modal-header">
    <h4 class="modal-title">Add vocabulary terms</h4>
    <close-modal close="addVocabularyPopupCtrl.cancel()"></close-modal>
</div>

<div class="modal-body" ng-form="ListVocabularyForm">
    <vocabulary-editor vocab-id="vocabId"
                       vocab-name="Term vocabulary" allow-mandatory="false" allow-categories="false" allow-strict-selection="false"
                       allow-replacement="false" shared-object="sharedObject">
    </vocabulary-editor>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addVocabularyPopupCtrl.ok()">OK</button>
    <button class="btn btn-default" ng-click="addVocabularyPopupCtrl.cancel()">Cancel</button>
</div>